body{
    text-align: center;
 }
 header{
     background-color: black;
     color: aqua;
 }
 nav ul li{
     display: inline;
     text-decoration-style:none ;
     color:black;
     padding: 10px;
    }
 img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
 }   
 #portfolio{
    background-color: blueviolet;
 }
 #skill{
    padding:10px
 }
 li{
    display: inline;
 }
 footer{
    background-color: black;
    color: aliceblue;
    padding: 10px;
 }